/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  padding: 10px;
  margin: 10px;
}

.mainCont {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 80%;
  border: solid black 2px;
  margin: 10px;
}

.sidecar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  width: 20%;
  height: 100%;
  border: black solid 2px;
  border-radius: 1em;
}

.main-feed {
  flex-direction: column;
  width: 50%;
  height: 100%;
  border: black solid 2px;
  padding: 10px;
  margin: 10px;
}

.sideGroup {
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  width: 30%;
  height: 100%;
  border: black solid 2px;
}

.feed-card {
  flex-direction: column;
  height: 100px;
  border: black solid 2px;
  border-radius: 1em;
  padding: 10px;
  margin: 10px;
}
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('./images/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.landingContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color: rgba(250, 235, 215, 0.701);
  border: 1px rgba(0, 0, 0, 0.708) solid;
  border-radius: 5px;
  box-sizing: border-box;
}
.link {
  color: blue;
  font-size: larger;
}
.link:hover {
  color: rgba(0, 0, 255, 0.585);
}
@media only screen and (max-width: 760px) {
  .landingContainer {
    width: 300px;
    height: 500px;
  }
  .hero {
    font-size: 60px;
  }
}
